<form class="" action="/posts" method="post">
  <h2>Post Your Thoughts</h2>
  <label for="title">title</label>
  <input type="" name="" value="">
  <label for="body">body</label>
  <input type="" name="" value="">
  <label for="url">URL:</label>
  <input type="" name="" value="">
  <input type="submit" value="POST!">
</form>
